{% extends "common_structure.j2" %}
{% from "macros.j2" import spoiler with context %}

{% block endhead %}
    <link rel='stylesheet' href='media/ico.css' type='text/css' />
{% endblock %}

{% block pagebody %}

<h1>In Balance and Imbalance</em></h1>

{% call spoiler("Publication Note") %}

This piece was originally written for [_Kill Screen_](https://killscreen.com/previously/articles/ico-feature/), and contains spoilers for the ending of _Ico,_ which you should absolutely have played by now.

{% endcall %}

<div id="review">
    <p>This piece requires Javascript, for better or for worse. Sorry, folks.</p>
</div>

{% endblock %}

{% block js %}

<!--Original versions--these worked everywhere but mobile I think? Big jump so this may just break everything.-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.24/jquery-ui.min.js"></script>

<script src="media/ico.js"></script>

{% endblock %}
